* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10px;
 }


.starter-page {
    display: flex;
    box-sizing: border-box;
}

.nav {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.main-start {
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow-wrap:break-word;

}

.btn {
    background-color: purple;
    font-size: 18px;
    border: none;
    color: white;
    padding: 8px 10px;
    display:flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    /* text-decoration: none; */
    /* display: inline-block; */
    border-radius: 4px;

}

.question h2 {
    margin-top: 100px;
    padding: 15px 10px 15px 5px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;

}
